FTP_PUBLIC_IP=SEU_IP_PUBLICO_FIXO
FTP_USER=cop_ftp
FTP_PASSWORD=troque-esta-senha
FTP_INGEST_KEYS=d71e617fa7a5
FTP_PASV_MIN_PORT=21000
FTP_PASV_MAX_PORT=21010
COP_BASE_URL=https://cop-web-ingest-production.up.railway.app
COP_GATEWAY_TOKEN=mesmo-segredo-da-railway
FTP_SCAN_MS=3000
